.cart-menu {
  padding: 10px;
  background: rgb(145, 139, 180);
  border-radius: 10px;
  width: 300px;
  position: absolute;
  top: -3px;
  left: -340px;
  font-weight: 600;
  .cart-menu__list {
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-bottom: 2px solid rgb(13, 0, 46);
    margin-bottom: 10px;
  }
  .cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border-radius: 10px;
  }
}
