.btn--main {
  border-radius: 15px;
  color: inherit;
  cursor: pointer;
  padding: 10px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.btn--primary {
  background: #45a29e;
  color: #fff;
}

.btn--secondary {
  background: #c5c6c7;
  color: #1f2833;
}
